<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/h-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/h-ui/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui/static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bs3/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/js/bs3/bootstrap.min.js"></script>
    {{/*<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />*/}}
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/h-ui/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>管理员列表</title>
</head>
<body>
<input type="hidden" value="{{.token}}" id="auth">
<nav class="breadcrumb"><i class="Hui-iconfont"></i> 首页 <span class="c-gray en">&gt;</span> 抽奖管理 <span
            class="c-gray en">&gt;</span> 抽奖设置 <a class="btn btn-success radius r"
                                                  style="line-height:1.6em;margin-top:3px"
                                                  href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        {{/*<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">*/}}
        {{/*-*/}}
        {{/*<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">*/}}
        <input type="text" class="input-text" style="width:250px" placeholder="参与人数" id="" name="pepleNum">
        <button type="button" class="btn btn-success" id="" name="" onclick="saveDrawConfig(this)"><i
                    class="Hui-iconfont">&#xe665;</i>确定设置
        </button>
    </div>
    {{/*<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加管理员','admin-add.html','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>*/}}
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">抽奖人员列表:</th>
        </tr>
        <tr class="text-c">
            <th width="50">奖励号</th>
            <th width="150">姓名(可直接编辑)</th>
            <th width="130">加入时间</th>
            <th width="130">更新时间</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody id="list">
        <tr class="text-c">
            <th>暂无数据</th>
        </tr>
        </tbody>
    </table>
    <div id="pageRen" align="right">

    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/h-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/h-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/h-ui/lib/layer/2.4/layer.js">
</script><script type="text/javascript" src="/static/js/dateUtil.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

    //数据获取
    var pagesize = 10;
    var auth = $("#auth").val();
    $(function () {
        if (auth != "" && auth != undefined) {
            getDrawConfigList(1, pagesize)
        }
    })

    //获取列表
    function getDrawConfigList(page, pagesize) {
        $.ajax({
            type: 'POST',
            url: '/auth/api/queryDraw',
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("auth", auth);
            },
            data: {"page": page, "pagesize": pagesize},
            success: function (data) {
                console.log(data)
                var htmlstr = ""
                if (data.code === 200) {
                    $.each(data.data.List, function (k, v) {
                        htmlstr += " <tr class=\"text-c\">"
                        htmlstr += "      <td>" + v.Row + "</td>\n" +
                            "                         <td><input type='text' style= 'background-color:transparent;border:0;' id='curName' value='"+v.Name+"' onblur='updateNameById(this,"+v.Id+")' /></td>\n" +
                            "                         <td>" + convert01(v.C_time) + "</td>\n" +
                            "                         <td>" + convert01(v.U_time) + "</td>\n" +
                            "                     <td class='td-manage'><a title='删除' href='javascript:;' onclick='delDrawConfig(this,"+v.Id+")' class='ml-5' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6e2;</i></a></td>\n" +
                            "              "
                        htmlstr += "</tr>"
                    })
                    var listContain = $("tbody[id='list']")
                    listContain.empty()
                    listContain.append(htmlstr)

                    //分页显示
                    var pageGenContain = $("div[id='pageRen']")
                    pageGenContain.empty()
                    var pageStr = " <ul class='pagination'>\n" +
                        "        <li class='disabled'><a href='#'>"+data.data.Page+"/"+data.data.TotalPage+"</a><input type='hidden' id='curPage' value='data.data.Page' ></li>\n";
                        if(data.data.FirstPage){
                            pageStr += "<li class='disabled'><span>首页</span></li>  <li class='disabled'><span>上一页</span></li>"
                        }else {
                            pageStr += "<li><span onclick='getDrawConfigList(1,"+pagesize+")'>首页</span></li>   <li><span onclick='getDrawConfigList("+(data.data.Page-1)+","+pagesize+")'>上一页</span></li>"
                        }
                        if(data.data.LastPage){
                            pageStr += "<li class='disabled'><span>下一页</span></li>  <li class='disabled'><span>最后一页</span></li> </ul> "
                        }else {
                            pageStr += "<li><span onclick='getDrawConfigList("+(data.data.Page+1)+","+pagesize+")'>下一页</span></li>  <li><span onclick='getDrawConfigList("+(data.data.TotalPage)+","+pagesize+")'>最后一页</span></li> </ul> "
                        }
                    pageGenContain.append(pageStr)
                }
            },
            error: function (data) {
                console.log(data.message);
            },
        });
    }

    //更新name
    function updateNameById(n,id) {
        let name = $(n).val()
        if(name === "" || name == undefined){
            swal("请输入对应的姓名或其他", {
                button: false,
                icon: "error"
            });
        }
        $.ajax({
            type: 'POST',
            url: '/auth/api/updateNameById',
            dataType: 'json',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("auth", auth);
            },
            data: {"id": id,"name":name},
            success: function (data) {
                var type = data.code === 200 ? "success" : "error"
                console.log(type)
                swal(data.message, {
                    button: false,
                    icon: type
                });
            },
            error: function (data) {
                swal(data.message, {
                    button: false,
                    icon: "error"
                });
            },
        });

    }

    //设置人数
    function saveDrawConfig(n) {
        var num = $(n).prev().val()
        if (checkRate(num)) {
            $.ajax({
                type: 'POST',
                url: '/auth/api/saveDrawConfig',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("auth", auth);
                },
                data: {"num": num},
                success: function (data) {
                    var type = data.code === 200 ? "success" : "error"
                    console.log(type)
                    swal(data.message, {
                        button: false,
                        icon: type
                    });
                    getDrawConfigList(1, pagesize)
                },
                error: function (data) {
                    swal(data.message, {
                        button: false,
                        icon: "error"
                    });
                },
            });
        }
    }

    function checkRate(number) {
        var re = /^[0-9]+.?[0-9]*$/; //判断字符串是否为数字 //判断正整数 /^[1-9]+[0-9]*]*$/
        if (!re.test(number)) {
            swal("请输入数字!", {
                button: false,
                icon: "error"
            });
            return false;
        }
        return true
    }

    //设置人数

    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*管理员-增加*/
    function admin_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*管理员-删除*/
    function delDrawConfig(obj,id) {
        layer.confirm('确认要删除吗？', function () {
            $.ajax({
                type: 'POST',
                url: '/auth/api/deleteById',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("auth", auth);
                },
                data: {"id": id},
                success: function (data) {
                    if(data.code == 200){
                        $(obj).parents("tr").remove()
                        layer.msg("删除成功",{icon:1,time:1000});
                    }else {
                        layer.msg("删除失败",{icon:2,time:1000});
                    }
                },
                error: function (data) {
                    layer.msg('删除失败',{icon:2,time:1000});
                },
            });
        });
    }

    /*管理员-编辑*/
    function admin_edit(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    /*管理员-停用*/
    function admin_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
            //此处请求后台程序，下方是成功后的前台处理……

            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
            $(obj).remove();
            layer.msg('已停用!', {icon: 5, time: 1000});
        });
    }

    /*管理员-启用*/
    function admin_start(obj, id) {
        layer.confirm('确认要启用吗？', function (index) {
            //此处请求后台程序，下方是成功后的前台处理……


            $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!', {icon: 6, time: 1000});
        });
    }
</script>
</body>
</html>